PORT=4100
HOST=127.0.0.1
SITE_API_URL=https://api.loopo.cc
SITE_DATABASE_URL=postgresql://blog_app:change-me@127.0.0.1:5432/sm
SITE_ISSUER=https://auth.loopo.cc/api/auth
SITE_CLIENT_ID=
SITE_CLIENT_SECRET=
SITE_SESSION_SECRET=replace-with-at-least-32-random-characters
FRONTEND_ORIGINS=https://www.loopo.cc,https://loopo.cc
MODERATOR_IDS=
AUTHOR_USER_ID=
AUTHOR_EMAIL=
COMMENT_NOTIFICATIONS_ENABLED=true
COMMENTS_DEBUG=false
SM_MAIL_URL=https://auth.loopo.cc/internal/site-mail
SM_MAIL_SECRET=
PUBLIC_BLOG_ORIGIN=https://www.loopo.cc
